.profile-aim-instructors__container {
  container-type: inline-size;
  container-name: aim-instructors--root;
  height: 100%;
}

.profile-aim-instructors__layout {
  height: 100%;
  /* border: 1px solid var(--brand-c-primary); */
  border-radius: 8px;
  padding: 16px;
  background: var(--slate-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @container aim-instructors--root (min-width: 500px) {
    flex-direction: row;
    gap: calc(16px * 2);
    align-items: flex-start;
    justify-content: space-between;

    .profile-instructors-list.profile-instructors-list {
      align-self: center;
      justify-content: flex-start;
    }
  }
}


.instructors-header.instructors-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 152px;

  h3 {
    color: #2D4148;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;

    line-height: 1;
    width: 100%;
    color: var(--brand-c-secondary);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    >span {
      color: var(--brand-c-primary);
      display: inline-block;
      border: 1px solid var(--brand-c-primary);
      border-radius: 4px;
      padding: 2px 4px;
    }

  }

  p {
    margin-top: 0;
    font-size: 16px;
    color: var(--slate-500);
    line-height: 1.35;
  }
}

.instructor-profile__header-title {
  text-align: center;

  @media(min-width: 600px) {
    text-align: left;
  }
}


.profile-instructors__label {
  line-height: 1;
  font-size: 12px;
  width: 100%;
  color: var(--brand-c-secondary);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  >span {
    color: var(--brand-c-primary);
    display: inline-block;
    border: 1px solid var(--brand-c-primary);
    border-radius: 4px;
    padding: 2px 4px;
  }
}

.profile-instructors-list.profile-instructors-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  container-type: inline-size;
  container-name: aim-instructors--expert-list;
  min-width: 50%;
  flex-grow: 2;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 16px;

  @container aim-instructors--root (min-width: 700px) {
    justify-content: flex-end;
    padding-left: 0;
    flex-wrap: nowrap;
  }

}

.profile-instructor-list-item {
  position: relative;
  margin-left: -16px;
  width: 75px;
  height: 75px;
}

@container aim-instructors--root (max-width: 600px) {
  .profile-instructor-list-item {}
}

@container aim-instructors--expert-list (max-width: 600px) {
  .profile-instructor-list-item {}
}

.profile-instructor-trigger,
.profile-instructor-link {
  position: relative;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75px;
  max-height: 75px;
  transition: all 0.1s ease-in-out;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;

  /* @container aim-instructors--expert-list (max-width: 200px) { */
  /* } */

  &:hover,
  &:focus,
  &:active {
    background: none;
    box-shadow: none;
    z-index: 2;
    transform: translateY(-2px) scale(1.01);

  }

  img {
    pointer-events: none;
    border: 4px solid var(--slate-100) !important;
    pointer-events: none;
    border-radius: 50% !important;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover !important;
  }

}

.profile-instructor-link {
  border-radius: 50% !important;
  border: 4px solid var(--slate-100) !important;
  color: var(--slate-500);
  height: inherit;
  width: inherit;
  min-width: 100%;
  min-height: 100%;
  aspect-ratio: 1;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  max-height: inherit;

  .wrap-in-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slate-300);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  &:hover .wrap-in-circle {
    background: var(--green-blue-gradient);
    color: white;
  }

  &>span {
    display: block;
  }
}

/** MODAL STYLES */
body:has(.instructor-profile__modal-container) {
  overflow: hidden;
}

.instructor-profile__modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9990909;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
}

.instructor-profile__modal-content {
  background: var(--slate-100);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  max-height: calc(100vh - 32px);
  overflow-y: auto;
}

.instructor-profile__modal-content>:is(div, button) {
  padding-inline: 16px;

  @media(min-width: 600px) {
    padding-inline: 32px;
  }
}

.instructor-profile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  align-items: center;
  gap: 16px;

  @media(min-width: 600px) {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.instructor-profile__header-img {
  width: clamp(50px, 25%, 200px);
  aspect-ratio: 1;

  @media(min-width: 600px) {
    width: clamp(50px, 15%, 200px);
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 4px solid var(--brand-c-primary);

    @media(max-width: 500px) {
      border-width: 2px;
    }
  }
}


.instructor-profile__tags {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @media(min-width: 600px) {
    justify-content: flex-start;
  }

  li {
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    margin: 0;
    line-height: 1;
    color: var(--slate-500);
    font-weight: 500;
    border: 1px solid var(--slate-500);
  }
}

.instructor-profile__close-button {
  color: var(--text-color, var(--slate-500));
  background: var(--color, var(--slate-100)) !important;
  max-width: fit-content;
  width: auto;
  margin-left: auto;

  &:hover {
    --color: var(--slate-200);
    color: inherit;
    box-shadow: none !important;
  }
}

.instructor-profile__footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 1px solid color-mix(in srgb, var(--slate-500) 70%, transparent);
  background: var(--slate-100);
  font-size: 16px;

  @media(min-width: 600px) {
    display: flex;
    font-size: 14px;
  }

  .modal-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 3px solid transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    min-width: 100%;

    @media(min-width: 600px) {
      width: fit-content;
      flex-direction: row;
      margin-left: auto;
    }

    a,
    button {
      padding-inline: 16px;

      @media(min-width: 600px) {
        padding-inline: 32px;
      }

      white-space: nowrap;
      cursor: pointer;
    }

    .instructor-profile__modal-action {
      width: 100%;
      padding-block: 12px;
      display: flex;
      gap: 8px;
      align-items: center;

      justify-content: center;
      border-radius: 0;

      @media(min-width: 600px) {
        width: auto;
      }

      color: var(--text-color, var(--slate-500));
      background: var(--color, var(--slate-100));
      transition:none;

      &:hover,
      &:focus,
      &:active {
        color: var(--hover-t-color, var(--slate-700));
        background: var(--hover-color, var(--slate-200));
      }

      &[href] {
        --text-color: var(--brand-c-secondary);
      }

      &.instructor-profile__modal-action--primary {
        --color: var(--green-blue-gradient);
        --hover-color: var(--brand-c-dark);
        --text-color: white;
        --hover-t-color: white;
      }

    }
  }
}

.stack-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instructor-profile__body-section {
  margin-bottom: 2rem;

}
.tags {
  display:grid;
  grid-template-columns: auto 1fr;
}
.tag-group {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;

  h4 {
    align-self: start;
    grid-column: 1 / 2;
    font-size: 1rem;
    /* text-transform: uppercase; */
    font-weight: 500;
    width:fit-content;
    color: var(--slate-800);
  }
  .instructor-profile__tags{
      grid-column: 2 / 3;
  }

}

.instructor-profile__footer.instructor-profile__footer {
  padding-inline: 0;
}

.e-con.e-flex:has(.profile-instructor-list-item) {
  @media(max-width: 767px) {
    flex-wrap: nowrap !important;
  }
}
