.profile-hero {
	position: relative;
	min-width: 100%;
	container-type: inline-size;
	contain: layout;
	container-name: profile-hero;

	&:has(:is(.profile-hero__main, .profile-hero__sidebar)) {
		/* margin-bottom: 48px; */

		@media(min-width:763px) {
			/* margin-bottom: 86px; */
		}
	}
}

/** Hides the notices parent if its empty  -- prevents odd spacing at the top */
.profile-hero .profile-user-notices:not(:has(.profile-user-notice)) {
	display: none;
}

.profile-hero__container {
	--layout-gap: 18px;
	display: flex;
	flex-direction: column-reverse;
	gap: var(--layout-gap);

	min-width: 300px;

	@container(width > 763px) {
		flex-direction: row;
		--layout-gap: 18px;
	}
}

.profile-hero__sidebar {
	width: 100%;
}

body:has(.profile-hero__main) {
	.profile-hero__sidebar {
		flex: 1 1 40%;
		min-width: 250px;
		max-width: 420px;
	}
}


.profile-hero__main {
	width: 100%;
}

body:has(.profile-hero__sidebar) {
	.profile-hero__main {
		flex: 1 1 60%;
	}
}

body :is(.profile-hero__main,
	.profile-hero__sidebar) {
	border-radius: 8px;
	overflow: hidden;


}

/* on mobile we want full width */
@container (width < 760px) {
	:is(#important, .profile-hero__sidebar,
	.profile-hero__main) {
		max-width: 100%;
		min-width: 100%;
		flex: 1 1 100%;
	}
}
