.icon-card {
  aspect-ratio: 1;
	/* border-color: var(--color); */
	display: flex;
	flex-direction: column;
  background-color:var(--brand-c-primary);
  background-image: url(../../green-gradient.png);
  background-size: cover;
  padding:0px;
	.icon-card__contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: .5rem;
		height:100%;
		@media (max-width: 640px) {
			gap: 0.25em;
		}
	}

	.icon-card__thumb {
    color:white;
		@media (max-width: 640px) {
			border-width: 2px;
		}
    padding:10px;
    flex:1;
    height:100%;
		background: transparent;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	svg, img {
		width: auto;
    min-width:70px;
		height:100%;
		pointer-events: none;
		fill: white;
		color: white;
    background: transparent
	}

	.icon-card__title {
		text-decoration: none;
		color: var(--color);
		line-height: 1;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
    padding:10px 6px ;
    background:var(--slate-100);
    width:100%;
    a {
      width:100%;
    }
    text-align:center !important;
    flex-shrink:0;
		@media(max-width:640px){
			font-size:12px;
		}
	}

	&:has(a:hover) {
		.icon-card__thumb {
		}

		a {
			color: var(--color);
		}

		svg {
			fill: var(--slate-100);
			color: var(--slate-100);
		}
	}
}
