.session-card {
	padding: 4px;
	position: relative;
	border-color: var(--type-color, var(--slate-300));

	.session-card__image {
		position: relative;
		width: 100%;

		img {
			object-fit: cover;
			aspect-ratio: 16 / 9;
			width: 100%;
			height: 100%;
			background: var(--slate-200);
			border-radius: 0.25rem;
		}
	}

	.session-card__top-left {
		position: absolute;
		top: 0.5em;
		left: 0.5em;
		z-index: 1;
	}

	.session-card__session-type-icon {
		width: 24px;
		height: 24px;
		background: var(--slate-100);
		border-radius: 50%;
		border: 2px solid var(--type-color);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--type-color);

		img {
			display: none;
		}

		>svg {
			width: 14px;
			height: 14px;
			fill: var(--type-color);

			g {
				fill: var(--type-color);
			}
		}
	}

	.session-card__header {
		position: relative;
		z-index: 100;
		padding: 12px;

		h4 {
			margin-bottom: 0;
		}
	}

	.sessionAction {
		right: 0.5em;
		top: -20px;
		z-index: 100;
		position: absolute;
	}

	.session-card__type {
		color: var(--type-color);
		font-weight: 600;
	}
}
