* {
  box-sizing: border-box;
}

 .wp-block-jp-content-snippets-snippet-section {
  max-width: 100%;
  overflow: hidden;
  & > *{
    max-width: 100% !important;

  }

  & > .wp-block-columns {
    @media (max-width: 767px) {
      flex-direction: column;
      padding-block:.75rem;
      gap: 1rem;
    }
  }
 }
