[data-state="uninitialized"] {
	display: none;
}

[data-state="initialized"] {
	display: flex;

}

#mobile-drawer .prompt-studio-wrapper {
	margin-left: -20px;
	margin-top: 20px;
}

.prompt-studio-link.button {
	/* margin-inline: 16px; */
	gap: 1ch;
	padding: 16px;
	/* border-radius: 8px; */
	background: transparent;
	animation:none;
	transition:none;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background: #414753;
		color: white;
	}
}

:is(#important, .prompt-studio-link) {
	color: white;

	& span {
		color: inherit;
	}
}

.prompt-studio-link svg {
	color: white !important;
	pointer-events: none;
	max-height: .9em;
	width: unset;
}
