:where(html:has(.lolole-wrapper)) {
	svg {
		width: 1em;
	}

	.lolole-wrapper {

		--section-title-gradient: linear-gradient(90deg, #45d1a4 0%, #227291 100%);
		--section-header-border-color: var(--slate-200);
		--secondary-btn-color: var(--slate-200);
		--control-hover-color: var(--slate-300);
		--button-border-shadow: var(--slate-100);

		--aim-card-bg: hsl(from var(--slate-100) h 10% 98%);
		--carousel-slider-bg: white;

		display: flex;
		flex-direction: column;
		gap: 64px;
	}

	.lolole-section {
		display: flex;
		flex-direction: column;
		gap: 24px;

		>header {
			display: flex;
			flex-direction: column;
			gap: 14px;
		}

		>footer .view-all-button {
			display: none;
		}

		@media (max-width: 640px) {
			.lolole__controls {
				align-items: center
			}

			.lolole__controls .right:has(.view-all-button) {
				display: none;
			}

			footer .view-all-button {
				display: unset;
			}
		}
	}

	.section-header-flex-row {
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--section-header-border-color);
	}

	.section-title-wrapper {
		padding-bottom: 14px;
	}

	.section-title {
		display: flex;
		gap: 0.5em;
		align-items: center;
		font-size: 36px;

		.mark img {
			width: 0.95em;
		}

		h2 {
			font-weight: 700;
			margin-top: 0 !important;
			margin-bottom: 0px !important;
			font-size: 1em;
			/* border:1px solid red; */
			background-image: var(--section-title-gradient);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			display: inline-block;
			width: fit-content;
		}
	}

	.section-description {
		margin-block: 0;
	}

	.section__subtitle {
		color: var(--slate-500);
		font-size: 1.25rem;
	}

	.view-all-button {
		padding: 0.75rem 1rem;
		background: var(--secondary-btn-color);
		color: hsl(from #cbd5e0 h s 40%);
		display: inline-block;
		text-decoration: none;
		font-size: 1rem;
		line-height: 1;
		white-space: nowrap;
		font-weight: 600;

		&:hover {
			background: var(--brand-c-primary, #30dba6);
			color: inherit;
		}
	}

	.lolole-section .embla {
		--side-bleed-distance: 10px;

		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
	}

	.lolole-section .embla__viewport {
		position: relative;
		margin-inline: calc(var(--side-bleed-distance) * -1);

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: var(--side-bleed-distance);
			height: 100%;
			z-index: 1;
		}

		&::before {
			left: 0;
			background: linear-gradient(90deg,
					hsl(from var(--carousel-slider-bg, white) h s l / 100%) 30%,
					hsl(from var(--carousel-slider-bg, white) h s l / 0%) 100%);
		}

		&::after {
			right: 0;
			background: linear-gradient(90deg,
					hsl(from var(--carousel-slider-bg, white) h s l / 0%) 30%,
					hsl(from var(--carousel-slider-bg, white) h s l / 100%) 100%);
		}
	}

	.lolole-section .embla__container {
		padding-inline: var(--side-bleed-distance);
	}

	.lolole-section .lolole__controls {
		display: flex;
		gap: 10px;
		justify-content: space-between;

		.embla__buttons {
			justify-content: flex-start;
			display: flex;
			gap: 0.5rem;
		}

		.embla__button {
			width: 55px;
			aspect-ratio: 1;
			padding: 0;
			background: var(--secondary-btn-color);
			color: var(--blue-700);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0.25rem;
			font-size: 1rem;

			&:hover,
			&:focus {
				color: var(--blue-800);
				background: var(--control-hover-color);
			}

			svg {
				width: 1em;
				fill: currentColor;
			}
		}

		@media (min-width: 640px) {
			.embla__button {
				width: 35px;
				font-size: 0.5rem;
			}
		}

		.embla__dots {
			display: flex;
			justify-content: flex-end;
			gap: 0;
			flex-wrap: nowrap;
			flex: 1;
			width: 100%;
		}

		.embla__dot {
			width: 100%;
			max-width: 33px;
			min-width: 1%;
			flex: 1 5 1%;
			height: 5px;
			border-radius: 0px;
			background-color: transparent !important;

			&::after {
				content: "";
				height: 100%;
				border-radius: 0px;
				box-shadow: none;
				background-color: var(--slate-200);
				width: 100%;
				max-width: 1.4rem;
			}

			&.embla__dot--selected {
				&::after {
					box-shadow: none;
					background-color: var(--blue-300);
				}
			}
		}
	}

	.lolole-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
		justify-items: center;
		gap: 24px;

		.aim-card {
			width: 100%;
			max-width: 150px;
		}
	}

	.embla__slide.aim-card {
		max-width: 90%;
	}

	.icon-card.icon-card {
		padding-inline: 0px;
	}

	/* TAG CLOUD */
	.lolole-tag-cloud {
		display: flex;
		flex-wrap: wrap;
		gap: .75rem;
	}

	.tagCloud__tag {
		display: inline-flex;
		flex-basis: auto;
		min-width: auto;
		border-radius: 99999px !important;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		padding: 0.5em;
		border-radius: 0.25rem;
		font-size: 1rem;

		&:hover,
		&:focus {
			background: var(--slate-300);
		}

		svg {
			width: 1em;
			fill: currentColor;
		}

		h4 {
			font-size: 1rem;
			margin-block: 0;
			text-align: center;
		}
	}

}

:where(html:has(.lolole-wrapper.alt-wrapper)) {
	[data-element_type="container"]:has(>[data-element_type="widget"] .lolole-wrapper.alt-wrapper) {
		background-color: var(--slate-300) !important;

		.lolole-wrapper.alt-wrapper, .lolole-wrapper::after, .lolole-wrapper::before {
			--section-title-gradient: linear-gradient(60deg, #33527D 20%, #5B626B 100%);
			--section-header-border-color: var(--slate-400);
			--secondary-btn-color: var(--slate-400);
			--control-hover-color: var(--slate-500);
			--button-border-shadow: hsl(from var(--slate-400) h s 90% / 50%);
			--aim-card-bg: hsl(from var(--slate-400) h s l / 30%);
			--aim-card-border: var(--slate-400);
			--carousel-slider-bg: var(--slate-300);
		}

	}
}

.elementor-4138 .elementor-element.elementor-element-f75f01f:not(.elementor-motion-effects-element-type-background),
.elementor-4138 .elementor-element.elementor-element-f75f01f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(../green-gradient.png) !important;
}
